<div class="row">
    <div class="col-12 mb-3">
        <h2><a href="#"><i class="bi bi-arrow-left"></i></a> Create New To-Do List</h2>
    </div>
</div>

<div class="row">
    <form action="AddName" method="post">
        <div class="mb-3">
            <label for="exampleName" class="form-label">Your Name</label>
            <input name="Name" type="text" class="form-control" id="exampleName">
            <div id="exampleInput" class="form-text">Data will be stored in cookies for 1 day</div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
